<!DOCTYPE HTML>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/async/0.2.7/async.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/string.js/1.2.0/string.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min"></script>
		<!--script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js" 
			data-main="./barter-boot.js">
		</script-->
		<script>
			var barterModule = angular.module( "barter", [ ] );

			barterModule.directive( "imagesContainer",
				function( $timeout ){
					return {
						"require": "^?",
						"restrict": "E",
						"controller": "BarterPostsController",
						"scope": {
							"data": "=?"
						},
						"template":
							"<div class=\"image-pane\" " +
								"ng-repeat=\"image in imageList\" " +
								"size=\"{{ image.size }}\">" +
								"<div class=\"image\" " +
									"style=\"background-image: url('{{ image.url }}')\">" + 
								"</div>" +
								"<img src=\"{{ image.url }}\" />" +
							"</div>",
						"link": function( scope, element ){
							$timeout( function( ){
								scope.imageList = _.compact( _.map( scope.data,	
									function( url, size ){
										if( ( /^\@.+/ ).test( name ) ){
											return null;
										}
										return {
											"size": size,
											"url": url
										};
									} ) );	
							}, 0 );
						}
					};
				} );

			barterModule.directive( "dateContainer",
				function( $timeout ){
					return {
						"require": "^?",
						"restrict": "E",
						"controller": "BarterPostsController",
						"scope": {
							"data": "=?"
						},
						"template":
							"<div class=\"date-pane\">" +
								"<span ng-bind=\"formattedDate\"></span>" +
							"</div>",
						"link": function( scope, element ){
							$timeout( function( ){
								scope.formattedDate = scope.data;	
							}, 0 );
						}
					}
				} );

			barterModule.directive( "tagsContainer",
				function( $timeout ){
					return {
						"require": "^?",
						"restrict": "E",
						"controller": "BarterPostsController",
						"scope": {
							"data": "=?"
						},
						"template":
							"<div class=\"tag-pane\" " +
								"ng-repeat=\"tag in tagList\">" +
								"<a href=\"tag.url\">" +
									"<span ng-bind=\"tag.name\"></span>" +
								"</a>" +
							"</div>",
						"link": function( scope, element ){
							$timeout( function( ){
								scope.tagList = _.compact( _.map( scope.data,	
									function( url, name ){
										if( ( /^\@.+/ ).test( name ) ){
											return null;
										}
										return {
											"name": name,
											"url": url
										};
									} ) );	
							}, 0 );
						}
					};
				} );

			barterModule.directive( "barterTextPost",
				function( ){
					return {
						"require": "^?",
						"restrict": "E",
						"controller": "BarterPostsController",
						"scope": {
							"reference": "@?",
							"data": "=?"
						},
						"template": 
							"<div class=\"post-text-container\">" +
								"<div class=\"data-container\">" +
									"<div class=\"heading-container\">" + 
										"<p ng-repeat=\"paragraph in headings\" " +
											"ng-bind=\"paragraph\"></p>" + 
									"</div>" + 
									"<div class=\"title-container\">" + 
										"<span ng-bind=\"title\"></span>" +
									"</div>" + 
									"<div class=\"description-container\">" +
										"<p ng-repeat=\"paragraph in descriptions\" " +
											"ng-bind=\"paragraph\"></p>" + 
									"</div>" + 
									"<div class=\"extended-data-container\">" +
										"<div class=\"extended-data-pane\" " +
											"ng-repeat=\"data in extendedDataList\">" +
											"<span ng-bind=\"data.title\"></span>" +
											"<p ng-repeat=\"paragraph in data.descriptions\" " +
												"ng-bind=\"paragraph\"></p>" +
										"</div>" +
									"</div>" +
								"</div>" +
								"<div class=\"feature-container\">" +
									"<date-container data=\"date\">" +
									"</date-container>" +
									"<tags-container data=\"tagList\">" +
									"</tags-container>" +
								"</div>" +
							"</div>",
						"link": function( scope, element ){
							scope.headings = scope.data.caption.heading;
							scope.descriptions = scope.data.caption.description;
							scope.title = scope.data.caption.title;
							scope.extendedDataList = _.compact( _.map( scope.data.caption,
								function( value, key ){
									if( !_.contains( [ "headings", "title", "description" ], key ) ){
										return {
											"title": key,
											"descriptions": value
										};
									}
									return null;
								} ) );
							scope.date = scope.data.date;
							scope.tagList = scope.data.tags;
						}
					};
				} );

			barterModule.directive( "barterImagePost",
				function( ){
					return {
						"require": "^?",
						"restrict": "E",
						"controller": "BarterPostsController",
						"scope": {
							"reference": "@?",
							"data": "=?"
						},
						"template":
							"<div class=\"post-image-container\">" +
								"<div class=\"image-container\">" +
									"<images-container data=\"imageList\">" +
									"</images-container>" +
								"</div>" +
								"<div class=\"data-container\">" +
									"<div class=\"heading-container\">" + 
										"<p ng-repeat=\"paragraph in headings\" " +
											"ng-bind=\"paragraph\"></p>" + 
									"</div>" + 
									"<div class=\"title-container\">" + 
										"<span ng-bind=\"title\"></span>" +
									"</div>" + 
									"<div class=\"description-container\">" +
										"<p ng-repeat=\"paragraph in descriptions\" " +
											"ng-bind=\"paragraph\"></p>" + 
									"</div>" + 
									"<div class=\"extended-data-container\">" +
										"<div class=\"extended-data-pane\" " +
											"ng-repeat=\"data in extendedDataList\">" +
											"<span ng-bind=\"data.title\"></span>" +
											"<p ng-repeat=\"paragraph in data.descriptions\" " +
												"ng-bind=\"paragraph\"></p>" +
										"</div>" +
									"</div>" +
								"</div>" +
								"<div class=\"feature-container\">" +
									"<date-container data=\"date\">" +
									"</date-container>" +
									"<tags-container data=\"tagList\">" +
									"</tags-container>" +
								"</div>" +
							"</div>",
						"link": function( scope, element ){
							scope.headings = scope.data.caption.heading;
							scope.descriptions = scope.data.caption.description;
							scope.title = scope.data.caption.title;
							scope.extendedDataList = _.compact( _.map( scope.data.caption,
								function( value, key ){
									if( !_.contains( [ "headings", "title", "description" ], key ) ){
										return {
											"title": key,
											"descriptions": value
										};
									}
									return null;
								} ) );
							scope.date = scope.data.date;
							scope.tagList = scope.data.tags;
							scope.imageList = scope.data.imageUrl;
						}
					};
				} );

			barterModule.directive( "barterPost",
				function( $compile ){
					return {
						"require": "^?",
						"restrict": "E",
						"controller": "BarterPostsController",
						"scope": {
							"postType": "@?",
							"postReference": "@?",
							"postComponents": "=?"
						},
						"link": function( scope, element ){
							var post;
							switch( scope.postType ){
								case "text":
									post = $( "<barter-text-post></barter-text-post>" )
										.addClass( "post post-text" );
									break;
								case "image":
									post = $( "<barter-image-post></barter-image-post>" )
										.addClass( "post post-image" );
									break;
							}
							post.attr( {
								"data": "postComponents",
								"reference": scope.postReference,
								"ng-click": "clickPost( );"
							} );
							var container = $( element );
							container.append( post );
							$compile( $( "> .post[reference='" + scope.postReference + "']", container )[ 0 ] )( scope );
						}
					};
				} )

			barterModule.directive( "barterPosts",
				function( ){
					return {
						"restrict": "E",
						"controller": "BarterPostsController",
						"template": 
							"<barter-post ng-repeat=\"post in postList\" " +
								"post-reference=\"{{ post.reference }}\" " +
								"post-components=\"post.components\" " +
								"post-type=\"{{ post.type }}\">" + 
							"</barter-post>",
						"scope": { },
						"link": function( scope, element ){
							var container = $( element );
							container.on( "set-post-list",
								function( event, data ){
									console.debug( data.postList );
									scope.postList = data.postList;
								} );
						}
					};
				} );

			barterModule.controller( "BarterPostsController",
				function( $scope ){

					$scope.clickPost = function clickPost( ){

					};
				} );

			barterModule.directive( "posts",
				function( ){
					return {
						"restrict": "E",
						"link": function( scope, element ){
							var postList = [ ];
							
							var posts = $( element ).children( );
							posts.each( function( ){
								var post = $( this );
								var postType = post.prop( "tagName" ).toLowerCase( )
									.split( "post-" )[ 1 ];
								var postData = {
									"type": postType,
									"components": { },
									"reference": Date.now( ) + Math.round( Date.now( ) * Math.random( ) )
								};
								postList.push( postData );
								
								var components = postData.components;
								var postComponents = post.children( );
								postComponents.each( function( ){
									var component = $( this );
									var componentType = component.prop( "tagName" ).toLowerCase( )
										.split( "post-" )[ 1 ];
									componentType = S( componentType ).camelize( ).toString( );
									var contents = component.html( )
										.replace( /\n+/g, "" )
										.replace( /\s+/g, " " );

									if( ( /\<[^\<\>]+\>/ ).test( contents ) ){
										contents = $( contents );
										var contentList = [ ];
										//This will remove unwanted data.
										contents.each( function(){
												var content = $( this );
												var contentType = ( content.prop( "tagName" ) || "" ).toLowerCase( );
												if( contentType ){
													contentList.push( content );
												}
											} );

										switch( componentType ){
											case "caption":
											case "description":
												var dataList = { };
												var currentHeader = "heading";
												var currentContents = null;
												_.each( contentList,
													function( content ){
														var contentValue = content.html( ).trim( );
														if( ( /^[-\w\s]+\:/ ).test( contentValue ) ){
															currentHeader = contentValue.match( /^[-\w\s]+/ )[ 0 ].trim( );
															currentHeader = S( currentHeader.toLowerCase( ) ).dasherize( ).toString( );
															dataList[ currentHeader ] = currentContents = [ ];
														}else if( contentValue ){
															dataList[ currentHeader ].push( contentValue );
														}
													} );
												contentList = dataList;	
												break;

											case "imageUrl":
												var dataList = { };
												_.each( contentList,
													function( content ){
														var size = content.attr( "size" );
														var url = content.html( ).trim( );
														if( url ){
															dataList[ size ] = url;
														}
													} );
												contentList = dataList;
												break;

											case "tags":
												var dataList = { };
												_.each( contentList,
													function( content ){
														var name = $( "tag-name", content ).html( ).trim( );
														var url = $( "tag-url", content ).html( ).trim( );
														dataList[ name ] = url;
													} );
												contentList = dataList
												break;
										}

										contents = contentList;
									}
									components[ componentType ] = contents;
								} );
							} );

							$( "barter-posts" ).trigger( "set-post-list", { "postList": postList } );
						}
					};
				} );

		</script>
		<title barter-title>
		</title>
	</head>
	<body ng-app="barter">
		<barter-app
			class="barter-app hide"
			access-key="''"
			email="'barter@gmail.com'"
			site-url="'barter.tumblr.com'"
			site-name="'barter'"
			settings="''"
			environment="'data-bank'">

			<barter-shell>
				<barter-header>
				</barter-header>
				<barter-body>
					<barter-content>
						<barter-posts>
						</barter-posts>
					</barter-content>
					<barter-function>	
					</barter-function>
				</barter-body>
				<barter-footer>
				</barter-footer>
			</barter-shell>			
			
			<!--We put it here because tumblr parses the html before loading-->
			<tumblr-data>
				<!--This will render if a tag url is accessed-->
				{block:TagPage}
				<posts-on-tag>
					<tag>
						<tag-name>{Tag}</tag-name>
						<tag-url>{TagURL}</tag-url>
					</tag>
				</posts-on-tag>
				{/block:TagPage}
				
				<posts>
				{block:Posts}
					{block:Text}
					<post-text>
						{block:Title}
						<post-title>{Title}</post-title>
						{/block:Title}

						<post-body>{Body}</post-body>
						
						{block:Date}
						<post-date>{Timestamp}</post-date>
						{/block:Date}
						
						{block:NoteCount}
						<post-like-count>{NoteCount}</post-like-count>
						{/block:NoteCount}
						
						{block:HasTags}
						<post-tags>
							{block:Tags} 
							<tag>
								<tag-name>{Tag}</tag-name>
								<tag-url>{TagURL}</tag-url>
							</tag>
							{/block:Tags}
						</post-tags>
						{/block:HasTags}
					</post-text>
					{/block:Text}

					{block:Photo}
					<post-image>
						<post-image-url>
							<image-url size="500">{PhotoURL-500}</image-url>
							<image-url size="400">{PhotoURL-400}</image-url>
							<image-url size="250">{PhotoURL-250}</image-url>
							<image-url size="100">{PhotoURL-100}</image-url>
							<image-url size="75">{PhotoURL-75sq}</image-url>
							{block:HighRes}
							<image-url size="1280">{PhotoURL-1280}</image-url>
							<image-url size="2560">{PhotoURL-2560}</image-url>
							{/block:HighRes}
						</post-image-url>

						{block:Caption}
						<post-caption>{Caption}</post-caption>
						{/block:Caption}
						
						{block:Date}
						<post-date>{Timestamp}</post-date>
						{/block:Date}
						
						{block:NoteCount}
						<post-like-count>{NoteCount}</post-like-count>
						{/block:NoteCount}
						
						{block:HasTags}
						<post-tags>
							{block:Tags} 
							<tag>
								<tag-name>{Tag}</tag-name>
								<tag-url>{TagURL}</tag-url>
							</tag>
							{/block:Tags}
						</post-tags>
						{/block:HasTags}
					</post-image>
					{/block:Photo}
				{/block:Posts}
				</posts>
			</tumblr-data>
		</barter-app>
	</body>
</html>